:root{
    --b1: #c29961;
    --b2: #caa46e;
    --b3: #d3af7d;
    --b4: #d6b689;
    --b5: #d8bc95;
    --growTime: 2800ms;

    --bATime: 1000ms;
    --leafTime: 1600ms;
}
.tree__wrapper{
    height: 100vh;
}

.tree__polygon__base0{
    opacity: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase0{
    animation-name: tbase0;
    animation-duration: var(--growTime);
    animation-fill-mode: forwards;
}

@keyframes tbase0 {
    0%{
    opacity: 1;
    clip-path: polygon(
        70.1% 98.0%,
        32.4% 98.1%,
        32.4% 98.1%
    );}
    100%{
        opacity: 1;
        clip-path: polygon(
        70.1% 98.0%,
        32.4% 98.1%,
        34.5% 95.0%
    );
    }
}

.tree__polygon__base1{
    z-index: -1;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase1{
    animation-name: tbase1;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase1 {
    0%{
    opacity: 1;
    clip-path: polygon(
        70.1% 98.0%,
        35.3% 95.1%,
        35.3% 95.1%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        70.1% 98.0%,
        37.3% 91.9%,
        35.3% 95.1%
    );
    }
}

.tree__polygon__base2{
    z-index: -2;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase2{
    animation-name: tbase2;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase2 {
    0%{
    opacity: 1;
    clip-path: polygon(
        70.1% 98.0%,
        37.8% 92.3%,
        37.8% 92.3%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        70.1% 98.0%,
        37.8% 92.3%,
        40.1% 88.9%
    );
    }
}

.tree__polygon__base3{
    z-index: -3;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase3{
    animation-name: tbase3;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase3 {
    0%{
    opacity: 1;
    clip-path: polygon(
        70.1% 98.0%,
        40.7% 89.3%,
        40.7% 89.3%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        70.1% 98.0%,
        40.7% 89.3%,
        42.8% 86.5%
    );
    }
}

.tree__polygon__base4{
    z-index: -4;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase4{
    animation-name: tbase4;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase4 {
    0%{
    opacity: 1;
    clip-path: polygon(
        70.1% 98.0%,
        70.1% 98.0%,
        42.8% 86.5%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        69.1% 94.8%,
        70.1% 98.0%,
        42.8% 86.5%       
    );
    }
}



.tree__polygon__base5{
    z-index: -5;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase5{
    animation-name: tbase5;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase5 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        68.5% 94.9%,
        68.5% 94.9%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        42.8% 86.5%,
        68.5% 94.9%,
        66.8% 91.7%
    );
    }
}

.tree__polygon__base6{
    z-index: -6;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase6{
    animation-name: tbase6;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase6 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        65.9% 91.7%,
        65.9% 91.7%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        42.8% 86.5%,
        65.9% 91.7%,
        62.7% 88.2%
    );
    }
}


.tree__polygon__base7{
    z-index: -7;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase7{
    animation-name: tbase7;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase7 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        62.2% 88.3%,
        62.2% 88.3%
    );
}
    100%{
        opacity: 1;
        clip-path: polygon(
        42.8% 86.5%,
        62.2% 88.3%,
        60.2% 85.7%
    );
    }
}

.tree__polygon__base8{
    z-index: -8;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase8{
    animation-name: tbase8;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase8 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        59.9% 85.8%,
        59.9% 85.8%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        42.8% 86.5%,
        59.9% 85.8%,
        58.5% 83.9%
    );    }     }

.tree__polygon__base9{
    z-index: -9;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase9{
    animation-name: tbase9;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase9 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        42.8% 86.5%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        42.8% 86.5%,
        41.9% 84.1%,
        58.5% 83.9%
    );    }     }

.tree__polygon__base10{
    z-index: -10;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase10{
    animation-name: tbase10;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase10 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.8% 86.5%,
        42.8% 86.5%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        42.6% 84.2%,
        41.2% 81.5%,
        58.5% 83.9%
    );    }     }


.tree__polygon__base11{
    z-index: -11;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase11{
    animation-name: tbase11;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase11 {
    0%{
    opacity: 1;
    clip-path: polygon(
        41.5% 81.7%,
        41.5% 81.7%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        41.5% 81.7%,
        40.0% 79.7%,
        58.5% 83.9%
    );    }     }


.tree__polygon__base12{
    z-index: -12;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase12{
    animation-name: tbase12;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase12 {
    0%{
    opacity: 1;
    clip-path: polygon(
        40.5% 80.0%,
        40.5% 80.0%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        40.5% 80.0%,
        38.5% 77.5%,
        58.5% 83.9%
    );    }     }


.tree__polygon__base13{
    z-index: -13;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase13{
    animation-name: tbase13;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase13 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        58.5% 83.9%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        59.6% 80.3%,
        58.5% 83.9%
    );    }     }

.tree__polygon__base14{
    z-index: -14;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase14{
    animation-name: tbase14;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase14 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        58.5% 83.9%,
        58.5% 83.9%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        58.8% 80.4%,
        57.7% 77.2%
    );    }     }

.tree__polygon__base15{
    z-index: -15;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase15{
    animation-name: tbase15;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase15 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        57.2% 77.4%,
        57.2% 77.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        57.2% 77.4%,
        56.3% 74.9%
    );    }     }

.tree__polygon__base16{
    z-index: -16;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase16{
    animation-name: tbase16;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase16 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        57.2% 77.4%,
        57.2% 77.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        55.5% 75.2%,
        54.4% 73.2%
    );    }     }

.tree__polygon__base17{
    z-index: -17;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase17{
    animation-name: tbase17;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase17 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        54.1% 73.4%,
        54.1% 73.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        54.1% 73.4%,
        52.5% 71.1%
    );    }     }

.tree__polygon__base18{
    z-index: -18;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase18{
    animation-name: tbase18;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase18 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        54.1% 73.4%,
        54.1% 73.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        52.1% 71.4%,
        49.7% 69.0%
    );    }     }

.tree__polygon__base19{
    z-index: -19;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase19{
    animation-name: tbase19;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase19 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        49.4% 69.6%,
        49.4% 69.6%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        49.4% 69.6%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base20{
    z-index: -20;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase20{
    animation-name: tbase20;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase20 {
    0%{
    opacity: 1;
    clip-path: polygon(
        38.5% 77.5%,
        38.5% 77.5%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.5% 77.5%,
        35.7% 75.6%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base21{
    z-index: -21;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase21{
    animation-name: tbase21;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase21 {
    0%{
    opacity: 1;
    clip-path: polygon(
        36.0% 75.6%,
        36.0% 75.6%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        36.0% 75.6%,
        33.9% 73.7%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base22{
    z-index: -22;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase22{
    animation-name: tbase22;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase22 {
    0%{
    opacity: 1;
    clip-path: polygon(
        34.3% 73.7%,
        34.3% 73.7%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        34.3% 73.7%,
        32.3% 71.9%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base23{
    z-index: -23;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase23{
    animation-name: tbase23;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase23 {
    0%{
    opacity: 1;
    clip-path: polygon(
        32.7% 71.9%,
        32.7% 71.9%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        32.7% 71.9%,
        30.4% 70.3%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base24{
    z-index: -24;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase24{
    animation-name: tbase24;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase24 {
    0%{
    opacity: 1;
    clip-path: polygon(
        30.7% 70.3%,
        30.7% 70.3%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        30.7% 70.3%,
        28.8% 68.7%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base25{
    z-index: -25;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase25{
    animation-name: tbase25;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase25 {
    0%{
    opacity: 1;
    clip-path: polygon(
        29.2% 68.8%,
        29.2% 68.8%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        29.2% 68.8%,
        27.4% 66.9%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base26{
    z-index: -26;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase26{
    animation-name: tbase26;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase26 {
    0%{
    opacity: 1;
    clip-path: polygon(
        27.6% 67.0%,
        27.6% 67.0%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        27.6% 67.0%,
        26.6% 65.4%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base27{
    z-index: -27;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase27{
    animation-name: tbase27;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase27 {
    0%{
    opacity: 1;
    clip-path: polygon(
        27.6% 67.0%,
        27.6% 67.0%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.8% 65.5%,
        25.6% 63.5%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base28{
    z-index: -28;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase28{
    animation-name: tbase28;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase28 {
    0%{
    opacity: 1;
    clip-path: polygon(
        25.8% 63.6%,
        25.8% 63.6%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        25.8% 63.6%,
        24.5% 61.3%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base29{
    z-index: -29;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase29{
    animation-name: tbase29;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase29 {
    0%{
    opacity: 1;
    clip-path: polygon(
        24.7% 61.5%,
        24.7% 61.5%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        24.7% 61.5%,
        23.5% 59.1%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base30{
    z-index: -30;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase30{
    animation-name: tbase30;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase30 {
    0%{
    opacity: 1;
    clip-path: polygon(
        23.9% 59.5%,
        23.9% 59.5%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        23.9% 59.5%,
        23.8% 57.1%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base31{
    z-index: -31;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase31{
    animation-name: tbase31;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase31 {
    0%{
    opacity: 1;
    clip-path: polygon(
        23.9% 57.2%,
        23.9% 57.2%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        23.9% 57.2%,
        24.8% 55.0%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base32{
    z-index: -32;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase32{
    animation-name: tbase32;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase32 {
    0%{
    opacity: 1;
    clip-path: polygon(
        23.9% 57.2%,
        23.9% 57.2%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        24.9% 55.2%,
        26.0% 53.7%,
        47.4% 67.2%
    );    }     }

.tree__polygon__base33{
    z-index: -33;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase33{
    animation-name: tbase33;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase33 {
    0%{
    opacity: 1;
    clip-path: polygon(
        26.0% 53.7%,
        47.4% 67.2%,
        47.4% 67.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.0% 53.7%,
        47.4% 67.2%,
        46.1% 63.6%
    );    }     }

.tree__polygon__base34{
    z-index: -34;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase34{
    animation-name: tbase34;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase34 {
    0%{
    opacity: 1;
    clip-path: polygon(
        26.0% 53.7%,
        45.7% 64.0%,
        45.7% 64.0%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.0% 53.7%,
        45.7% 64.0%,
        45.2% 61.1%
    );    }     }

.tree__polygon__base35{
    z-index: -35;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase35{
    animation-name: tbase35;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase35 {
    0%{
    opacity: 1;
    clip-path: polygon(
        26.0% 53.7%,
        44.8% 61.2%,
        44.8% 61.2%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.0% 53.7%,
        44.8% 61.2%,
        44.0% 58.6%
    );    }     }

.tree__polygon__base36{
    z-index: -36;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase36{
    animation-name: tbase36;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase36 {
    0%{
    opacity: 1;
    clip-path: polygon(
        26.0% 53.7%,
        43.7% 58.6%,
        43.7% 58.6%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.0% 53.7%,
        43.7% 58.6%,
        42.2% 56.2%
    );    }     }

.tree__polygon__base37{
    z-index: -37;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase37{
    animation-name: tbase37;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase37 {
    0%{
    opacity: 1;
    clip-path: polygon(
        26.0% 53.7%,
        42.3% 56.4%,
        42.3% 56.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.0% 53.7%,
        41.5% 54.4%,
        42.3% 56.4%
    );    }     }


.tree__polygon__base38{
    z-index: -38;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);
}

.tbase38{
    animation-name: tbase38;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase38 {
    0%{
    opacity: 1;
    clip-path: polygon(
        46.9% 50.7%,
        42.3% 56.4%,
        42.3% 56.4%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        46.9% 50.7%,
        42.3% 56.4%,
        41.5% 54.4%
    );    }     }

.tree__polygon__base39{
    z-index: -39;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);
}

.tbase39{
    animation-name: tbase39;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase39 {
    0%{
    opacity: 1;
    clip-path: polygon(
        41.5% 54.4%,
        41.5% 54.4%,
        28.9% 53.8%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        46.9% 50.7%,
        41.5% 54.4%,
        28.9% 53.8%
    );    }     }

.tree__polygon__base40{
    z-index: -40;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);
}

.tbase40{
    animation-name: tbase40;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase40 {
    0%{
    opacity: 1;
    clip-path: polygon(
        46.9% 50.7%,
        46.9% 50.7%,
        28.9% 53.8%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        46.9% 50.7%,
        45.8% 47.9%,
        28.9% 53.8%
    );    }     }

.tree__polygon__base41{
    z-index: -41;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);
}

.tbase41{
    animation-name: tbase41;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase41 {
    0%{
    opacity: 1;
    clip-path: polygon(
        43.3% 49.0%,
        43.3% 49.0%,
        28.9% 53.8%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        43.3% 49.0%,
        42.2% 45.7%,
        28.9% 53.8%
    );    }     }

.tree__polygon__base42{
    z-index: -42;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);
}

.tbase42{
    animation-name: tbase42;
    animation-fill-mode: forwards;
    animation-duration: var(--growTime);
}

@keyframes tbase42 {
    0%{
    opacity: 1;
    clip-path: polygon(
        42.1% 46.1%,
        42.1% 46.1%,
        28.9% 53.8%
    );  }
    100%{
        opacity: 1;
        clip-path: polygon(
        42.1% 46.1%,
        40.1% 42.2%,
        28.9% 53.8%
    );    }     }

    /* Tree Branch Animations */

.branch__A0{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchA_0{
    animation-name: tbranchA_0;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_0{
    0%{
        opacity: 1;
        clip-path: polygon(
        40.0% 42.4%,
        40.0% 42.4%,
        34.8% 48.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        40% 42.4%,
        36.6% 37.2%,
        34.8% 48.0%
        );    } }

.branch__A1{
    z-index: -45;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchA_1{
    animation-name: tbranchA_1;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_1{
    0%{
        opacity: 1;
        clip-path: polygon(
        35.7% 43.0%,
        35.7% 43.0%,
        36.6% 37.2%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        31.1% 35.5%,
        35.7% 43.0%,
        36.6% 37.2%
        );    } }

.branch__A2{
    z-index: -46;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchA_2{
    animation-name: tbranchA_2;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_2{
    0%{
        opacity: 1;
        clip-path: polygon(
        31.1% 35.5%,
        31.1% 35.5%,
        36.6% 37.2%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        31.1% 35.5%,
        31.2% 31.4%,
        36.6% 37.2%
        );    } }

.branch__A3{
    z-index: -46;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchA_3{
    animation-name: tbranchA_3;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_3{
    0%{
        opacity: 1;
        clip-path: polygon(
        31.1% 35.5%,
        31.2% 32.9%,
        31.1% 35.5%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        31.1% 35.5%,
        31.2% 32.9%,
        27.0% 34.3%
        );    } }

.branch__A4{
    z-index: -46;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchA_4{
    animation-name: tbranchA_4;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_4{
    0%{
        opacity: 1;
        clip-path: polygon(
        27.0% 34.3%,
        31.2% 32.9%,
        27.0% 34.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        21.6% 31.2%,
        31.2% 32.9%,
        27.0% 34.3%
        );    } }

.branch__A5{
    z-index: -47;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchA_5{
    animation-name: tbranchA_5;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_5{
    0%{
        opacity: 1;
        clip-path: polygon(
        21.6% 31.2%,
        24.6% 31.8%,
        21.6% 31.2%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        21.6% 31.2%,
        24.6% 31.8%,
        19.4% 27.5%
        );    } }

.branch__A6{
    z-index: -47;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchA_6{
    animation-name: tbranchA_6;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_6{
    0%{
        opacity: 1;
        clip-path: polygon(
        20.5% 29.1%,
        20.5% 29.1%,
        19.4% 27.5%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        20.5% 29.1%,
        12.1% 24.7%,
        19.4% 27.5%
        );    } }

.branch__A7{
    z-index: -48;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchA_7{
    animation-name: tbranchA_7;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_7{
    0%{
        opacity: 1;
        clip-path: polygon(
        31.2% 32.9%,
        31.2% 31.4%,
        31.2% 32.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        31.2% 32.9%,
        31.2% 31.4%,
        28.6% 30.9%
        );    } }

.branch__A8{
    z-index: -48;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchA_8{
    animation-name: tbranchA_8;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_8{
    0%{
        opacity: 1;
        clip-path: polygon(
        28.6% 30.9%,
        31.2% 31.4%,
        28.6% 30.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.6% 22.6%,
        31.2% 31.4%,
        28.6% 30.9%
        );    } }

.branch__A9{
    z-index: -49;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchA_9{
    animation-name: tbranchA_9;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchA_9{
    0%{
        opacity: 1;
        clip-path: polygon(
        26.6% 22.6%,
        27.1% 24.1%,
        26.6% 22.6%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        26.6% 22.6%,
        27.1% 24.1%,
        21.8% 18.9%
        );    } }

.branch__B0{
    z-index: -49;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchB_0{
    animation-name: tbranchB_0;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_0{
    0%{
        opacity: 1;
        clip-path: polygon(
        38.3% 51.1%,
        46.8% 47.9%,
        46.8% 47.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        38.3% 51.1%,
        46.8% 47.9%,
        46.9% 38.4%
        );    } }

.branch__B1{
    z-index: -50;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchB_1{
    animation-name: tbranchB_1;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_1{
    0%{
        opacity: 1;
        clip-path: polygon(
        41.9% 46.2%,
        46.9% 38.4%,
        46.9% 38.4%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        41.9% 46.2%,
        41.3% 33.3%,
        46.9% 38.4%
        );    } }

.branch__B2{
    z-index: -50;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchB_2{
    animation-name: tbranchB_2;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_2{
    0%{
        opacity: 1;
        clip-path: polygon(
        45.4% 37.2%,
        41.3% 33.3%,
        41.3% 33.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        45.4% 37.2%,
        44.1% 25.9%,
        41.3% 33.3%
        );    } }

.branch__B3{
    z-index: -50;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchB_3{
    animation-name: tbranchB_3;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_3{
    0%{
        opacity: 1;
        clip-path: polygon(
        41.8% 32.6%,
        43.1% 28.8%,
        41.8% 32.6%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        41.8% 32.6%,
        43.1% 28.8%,
        40.5% 24.9%
        );    } }

.branch__B4{
    z-index: -50;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchB_4{
    animation-name: tbranchB_4;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_4{
    0%{
        opacity: 1;
        clip-path: polygon(
        40.5% 24.8%,
        41.3% 29.0%,
        41.3% 29.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(
        40.5% 24.8%,
        41.3% 29.0%,
        35.8% 21.1%
        );    } }

.branch__B5{
    z-index: -50;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchB_5{
    animation-name: tbranchB_5;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_5{
    0%{
        opacity: 1;
        clip-path: polygon(
        35.8% 21.1%,
        37.1% 22.2%,
        35.8% 21.1%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        35.8% 21.1%,
        37.1% 22.2%,
        34.7% 16.4%
        );    } }

.branch__B6{
    z-index: -51;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchB_6{
    animation-name: tbranchB_6;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_6{
    0%{
        opacity: 1;
        clip-path: polygon(
        40.5% 24.9%,
        38.6% 23.7%,
        38.6% 23.7%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        40.5% 24.9%,
        38.6% 23.7%,
        39.2% 17.9%
        );    } }

.branch__B7{
    z-index: -51;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchB_7{
    animation-name: tbranchB_7;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_7{
    0%{
        opacity: 1;
        clip-path: polygon(
        39.5% 19.5%,
        39.5% 19.5%,
        39.2% 17.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        39.5% 19.5%,
        42.2% 12.4%,
        39.2% 17.9%
        );    } }

.branch__B8{
    z-index: -52;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchB_8{
    animation-name: tbranchB_8;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_8{
    0%{
        opacity: 1;
        clip-path: polygon(
        43.2% 29.0%,
        44.1% 25.9%,
        44.1% 25.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        43.2% 29.0%,
        44.1% 25.9%,
        42.2% 24.6%
        );    } }

.branch__B9{
    z-index: -52;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchB_9{
    animation-name: tbranchB_9;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_9{
    0%{
        opacity: 1;
        clip-path: polygon(
        44.1% 25.9%,
        44.1% 25.9%,
        42.2% 24.6%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        49.9% 17.6%,
        44.1% 25.9%,
        42.2% 24.6%
        );    } }

.branch__B10{
    z-index: -52;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchB_10{
    animation-name: tbranchB_10;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchB_10{
    0%{
        opacity: 1;
        clip-path: polygon(
        49.9% 17.6%,
        48.3% 19.2%,
        49.9% 17.6%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        49.9% 17.6%,
        48.3% 19.2%,
        49.5% 13.1%
        );    } }

.branch__C0{
    z-index: -43;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchC_0{
    animation-name: tbranchC_0;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_0{
    0%{
        opacity: 1;
        clip-path: polygon(
        46.9% 50.7%,
        45.8% 47.9%,
        46.9% 50.7%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        46.9% 50.7%,
        45.8% 47.9%,
        53.1% 47.1%
        );    } }

.branch__C1{
    z-index: -43;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchC_1{
    animation-name: tbranchC_1;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_1{
    0%{
        opacity: 1;
        clip-path: polygon(
        49.4% 49.1%,
        53.1% 47.1%,
        53.1% 47.1%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        49.4% 49.1%,
        55.8% 48.7%,
        53.1% 47.1%
        );    } }

.branch__C2{
    z-index: -43;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchC_2{
    animation-name: tbranchC_2;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_2{
    0%{
        opacity: 1;
        clip-path: polygon(
        53.1% 47.1%,
        55.8% 48.7%,
        53.1% 47.1%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        62.0% 40.3%,
        55.8% 48.7%,
        53.1% 47.1%
        );    } }

.branch__C3{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchC_3{
    animation-name: tbranchC_3;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_3{
    0%{
        opacity: 1;
        clip-path: polygon(
        62.0% 40.3%,
        59.2% 42.7%,
        62.0% 40.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        62.0% 40.3%,
        59.2% 42.7%,
        63.0% 31.4%
        );    } }

.branch__C4{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchC_4{
    animation-name: tbranchC_4;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_4{
    0%{
        opacity: 1;
        clip-path: polygon(
        62.7% 32.6%,
        63.0% 31.4%,
        63.0% 31.4%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        62.7% 32.6%,
        59.2% 27.5%,
        63.0% 31.4%
        );    } }

.branch__C5{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchC_5{
    animation-name: tbranchC_5;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_5{
    0%{
        opacity: 1;
        clip-path: polygon(
        62.0% 40.3%,
        62.1% 38.6%,
        62.0% 40.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        62.0% 40.3%,
        62.1% 38.6%,
        69.2% 34.5%
        );    } }

.branch__C6{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchC_6{
    animation-name: tbranchC_6;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchC_6{
    0%{
        opacity: 1;
        clip-path: polygon(
        68.2% 35.3%,
        68.2% 35.3%,
        69.2% 34.5%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        68.2% 35.3%,
        73.8% 35.2%,
        69.2% 34.5%
        );    } }

.branch__D0{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchD_0{
    animation-name: tbranchD_0;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_0{
    0%{
        opacity: 1;
        clip-path: polygon(
        42.8% 55.5%,
        47.0% 50.7%,
        42.8% 55.5%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        42.8% 55.5%,
        46.9% 50.7%,
        54.7% 56.0%
        );    } }

.branch__D1{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchD_1{
    animation-name: tbranchD_1;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_1{
    0%{
        opacity: 1;
        clip-path: polygon(
        54.7% 56.0%,
        46.9% 50.7%,
        54.7% 56.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        60.9% 53.3%,
        46.9% 50.7%,
        54.7% 56.0%
        );    } }

.branch__D2{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchD_2{
    animation-name: tbranchD_2;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_2{
    0%{
        opacity: 1;
        clip-path: polygon(
        60.9% 53.3%,
        54.7% 56.0%,
        54.7% 56.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        60.9% 53.3%,
        57.9% 58.0%,
        54.7% 56.0%
        );    } }

.branch__D3{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchD_3{
    animation-name: tbranchD_3;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_3{
    0%{
        opacity: 1;
        clip-path: polygon(
        60.9% 53.3%,
        57.9% 58.0%,
        57.9% 58.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        60.9% 53.3%,
        57.9% 58.0%,
        64.7% 57.4%
        );    } }

.branch__D4{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchD_4{
    animation-name: tbranchD_4;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_4{
    0%{
        opacity: 1;
        clip-path: polygon(
        60.9% 53.3%,
        64.7% 57.4%,
        64.7% 57.4%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        60.9% 53.3%,
        65.4% 55.1%,
        64.7% 57.4%
        );    } }

.branch__D5{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchD_5{
    animation-name: tbranchD_5;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_5{
    0%{
        opacity: 1;
        clip-path: polygon(
        64.7% 57.4%,
        65.4% 55.1%,
        64.7% 57.4%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        67.9% 57.9%,
        65.4% 55.1%,
        64.7% 57.4%
        );    } }

.branch__D6{
    z-index: -44;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchD_6{
    animation-name: tbranchD_6;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_6{
    0%{
        opacity: 1;
        clip-path: polygon(
        67.9% 57.9%,
        65.4% 55.1%,
        65.4% 55.1%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        67.9% 57.9%,
        65.4% 55.1%,
        70.0% 50.6%
        );    } }

.branch__D7{
    z-index: -45;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3);   
}

.tbranchD_7{
    animation-name: tbranchD_7;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_7{
    0%{
        opacity: 1;
        clip-path: polygon(
        69.4% 52.7%,
        69.4% 52.7%,
        70.0% 50.6%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        69.4% 52.7%,
        73.6% 47.9%,
        70.0% 50.6%
        );    } }

.branch__D8{
    z-index: -45;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b4);   
}

.tbranchD_8{
    animation-name: tbranchD_8;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_8{
    0%{
        opacity: 1;
        clip-path: polygon(
        71.6% 50.1%,
        71.6% 50.1%,
        73.6% 47.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        71.6% 50.1%,
        78.7% 47.0%,
        73.6% 47.9%
        );    } }

.branch__D9{
    z-index: -45;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b5);   
}

.tbranchD_9{
    animation-name: tbranchD_9;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_9{
    0%{
        opacity: 1;
        clip-path: polygon(
        76.4% 47.7%,
        76.4% 47.7%,
        78.7% 47.0%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        76.4% 47.7%,
        80.2% 42.8%,
        78.7% 47.0%
        );    } }

.branch__D10{
    z-index: -45;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b1);   
}

.tbranchD_10{
    animation-name: tbranchD_10;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_10{
    0%{
        opacity: 1;
        clip-path: polygon(
        67.9% 57.9%,
        66.4% 57.1%,
        66.4% 57.1%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        67.9% 57.9%,
        66.4% 57.1%,
        75.9% 51.3%
        );    } }

.branch__D11{
    z-index: -46;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchD_11{
    animation-name: tbranchD_11;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_11{
    0%{
        opacity: 1;
        clip-path: polygon(
        73.3% 53.2%,
        73.3% 53.2%,
        75.9% 51.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        73.3% 53.2%,
        82.1% 51.1%,
        75.9% 51.3%
        );    } }

.branch__D12{
    z-index: -46;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b2);   
}

.tbranchD_12{
    animation-name: tbranchD_12;
    animation-fill-mode: forwards;
    animation-duration: var(--bATime);
}

@keyframes tbranchD_12{
    0%{
        opacity: 1;
        clip-path: polygon(
        73.3% 53.2%,
        73.3% 53.2%,
        75.9% 51.3%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
        73.3% 53.2%,
        82.1% 51.1%,
        75.9% 51.3%
        );    } }

/* Leaves section */

.leaves__0{
    z-index: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #998F5F;   
}

.animate_leaves_0{
    animation-name: animate_leaves_0;
    animation-fill-mode: forwards;
    animation-duration: var(--leafTime);
}

@keyframes animate_leaves_0{
    0%{
        opacity: 0;
        clip-path: polygon(        
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%,            
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%,             
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%, 
            71.5% 54.8%,
            71.5% 54.8%,
            71.5% 54.8%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
            76.6% 57.0%,
            77.7% 55.3%,
            80.1% 56.6%,
            79.8% 56.8%,
            80.7% 57.7%,
            83.5% 56.9%,
            83.6% 55.9%,
            83.4% 55.5%,
            85.0% 54.4%,
            85.1% 52.7%,
            84.3% 52.1%,
            84.9% 51.5%,
            83.2% 49.5%,
            80.3% 50.8%,
            80.0% 49.1%,
            77.5% 47.9%,
            76.0% 48.1%,
            75.1% 46.0%,
            76.4% 44.8%,
            76.0% 42.4%,
            72.3% 41.8%,
            70.5% 43.1%,
            68.9% 42.7%,
            67.4% 45.5%,
            67.7% 46.4%,
            66.4% 46.8%,
            66.3% 47.4%,
            68.4% 49.1%,
            67.8% 51.6%,
            68.8% 52.2%,
            68.3% 53.1%,
            70.3% 54.0%,
            70.1% 54.9%,
            72.0% 56.8%,
            73.2% 56.1%
        );    } 
    }

.leaves__1{
    z-index: -1;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #68603b;   
}

.animate_leaves_1{
    animation-name: animate_leaves_1;
    animation-fill-mode: forwards;
    animation-duration: var(--leafTime);
}

@keyframes animate_leaves_1{
    0%{
        opacity: 0;
        clip-path: polygon(  
            73.3% 51.9%,      
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%, 
            73.3% 51.9%
        );
    }
    100%{
        opacity: 1;
        clip-path: polygon(        
            72.9% 52.1%,
            73.8% 42.5%,
            74.9% 41.0%,
            76.8% 41.0%,
            77.9% 40.1%,
            79.7% 40.6%,
            81.7% 39.6%,
            82.8% 40.3%,
            84.3% 39.9%,
            84.2% 38.9%,
            87.4% 39.9%,
            88.0% 39.3%,
            90.0% 40.3%,
            89.6% 40.7%,
            89.8% 41.8%,
            90.1% 42.0%,
            89.1% 43.1%,
            88.7% 43.2%,
            89.9% 44.6%,
            89.4% 45.3%,
            89.9% 46.0%,
            91.5% 45.3%,
            92.5% 46.6%,
            93.3% 46.6%,
            94.1% 47.9%,
            93.5% 48.5%,
            93.7% 50.1%,
            92.2% 50.4%,
            92.2% 51.5%,
            89.9% 52.8%,
            88.4% 52.3%,
            86.6% 53.7%
        ); 
} }
